@import 'template/responsive';

:host {
    position: relative;
    perspective: 1000px;
    color: var(--c-lt-gray);
    background: linear-gradient(0deg, var(--c-red) 0%, var(--c-orange) 100%);
    .profile {
        position: relative;
        display: flex;
        transition: transform 30ms ease-out;
        justify-content: flex-start;
        align-content: flex-end;
        perspective: 1000px;
        .profile__description {
            flex: 1;
            align-self: center;
            text-align: left;
            text-transform: uppercase;
            font-weight: 900;
            height: 100%;
            h1 {
                display: block;
                position: relative;
                font-family: var(--f-headline);
                font-weight: 900;
                //opacity: 0;
                margin-block-start: 0em;
                margin-block-end: 0em;
                margin-left: 16px;
                margin-right: 16px;
                top: 50%;
                transform: translate3D(0%, -50%, 0px);
                .title {
                    position: absolute;
                    display: block;
                    box-sizing: border-box;
                    opacity: 0;
                    &.is--left {
                        left: 0px;
                    }
                    &.is--right {
                        right: 0px;
                    }
                }
            }
            p {
                display: block;
                position: relative;
                font-family: var(--f-body);
                font-size: 28px;
                font-weight: 400;
                transform: rotate(0px, 32px);
                margin-block-start: 0.5em;
                margin-block-end: 1em;
            }
        }
    }

    @include phone {
        width: 100%;
        .profile {
            height: 70vh;
            width: 100%;
            justify-content: flex-start;
            align-content: flex-end;
            .profile__description {
                h1 {
                    height: 200px;
                    font-size: 72px;
                    line-height: 120px;
                    margin-left: 4px;
                    margin-right: 4px;
                    margin-top: 0px;
                    transform: translate3D(0%, -60%, 0px);
                    .title {
                        &.is--right {
                            margin-top: 72px;
                        }
                    }
                }
            }
        }

    }

    @include portrait {
        width: 100%;
        .profile {
            height: 640px;
            width: 100%;
            .profile__description {
                h1 {
                    height: 340px;
                    font-size: 140px;
                    line-height: 180px;
                    .title {
                        &.is--right {
                            margin-top: 140px;
                        }
                    }
                }
            }
        }
    }

    @include landscape {
        width: 100%;
        .profile {
            height: 640px;
            width: 100vw;
            .profile__description {
                h1 {
                    height: 410px;
                    font-size: 200px;
                    line-height: 180px;
                    .title {
                        &.is--right {
                            margin-top: 200px;
                        }
                    }
                }
            }
        }
    }

    @include desktop {
        width: 100%;
        .profile {
            height: 90vh;
            width: 100vw;
            .profile__description {
                h1 {
                    height: 320px;
                    font-size: 240px;
                    line-height: 288px;
                    top: 25%;
                    .title {
                        &.is--right {
                            margin-top: 240px;
                        }
                    }
                }
            }
        }

    }

    @include monitor {
        width: 100%;
        .profile {
            height: 90vh;
            width: 100vw;
            .profile__description {
                h1 {
                    height: 320px;
                    font-size: 240px;
                    line-height: 288px;
                    top: 25%;
                    .title {
                        &.is--right {
                            margin-top: 240px;
                        }
                    }
                }
            }
        }
    }


    @include phone-landscape {
        .profile {
            height: 90vh;
            width: 100%;
            justify-content: flex-start;
            align-content: flex-end;
        }
    }

    @include legacy-iphone-landscape {
        .profile {
            height: 74vh;
            width: 100%;
            justify-content: flex-start;
            align-content: flex-end;
            .profile__description {
                h1 {
                    font-size: 80px;
                }
            }
        }
    }

}

a:link, a:visited {
    color: var(--c-cta);
}