node_modules/
public/
dist/
out-tsc/
src/client/index.js
src/client/bus.js
src/client/config.ts
src/server/config.ts
src/server/view/index.js
src/client/asset
.cache
.parcel-cache
.yarn


*.log
DB

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
