<v-scroll-sync scale="{{scale}}">
  <v-stage>
    <v-scroll-view>
      <v-section data-index="1">
        <t-profile></t-profile>
      </v-section>
      <!-- <v-section data-index="2">2</v-section>
      <v-section data-index="3">3</v-section>
      <v-section data-index="4">4</v-section>
      <v-section data-index="5">5</v-section>
      <v-section data-index="6">6</v-section>
      <v-section data-index="7">7</v-section>
      <v-section data-index="8">8</v-section> -->
    </v-scroll-view>
  </v-stage>
</v-scroll-sync>
