<v-nav></v-nav>
<v-stage>
  <v-section data-index="1">
    <t-profile></t-profile>
  </v-section>
  <v-section data-index="2">
    <t-market theme="is--light">
      <div class="blurb is--circle is--dark is--top is--left" slot="content">
        <div class="title">
          <h2 class="is--center">Hi, I'm Steve 👋</h2>
          <p>Even when I'm making art, I find myself solving problems with technological solutions. In my current role at Workday I'm a senior software development engineer. I help maintain the UI platform. <a class="cta" href="/resume">View my resume</a></p>
        </div>
      </div>
    </t-market>
  </v-section>
  <v-section data-index="3">
    <t-market theme="is--dark">
      <div slot="content">
        <h2>Livin' In The Pacific Northwest</h2>
        <p>I live in Portland, OR with my significant other Susanne. We travel around the Pacific Northwest, soaking up the lush environments. I take photographs documenting our adventures. <a class="cta" href="https://500px.com/stevebelovarich" target="_blank">View my photography on 500px</a></p>
      </div>
    </t-market>
  </v-section>
  <v-section data-index="4">
    <t-market theme="is--light">
      <div slot="content">
        <h2>I Code, Therefore I Am</h2>
        <p>You'll usually find me coding user interfaces in a web browser. I love architecting UI libraries and experimenting with web standards. This site was made entirely with custom elements. I followed a "no framework" approach. I challenged myself to make this interation of my personal site performant yet design forward. In what seems like a past life I was a web designer. <a class="cta" href="/resume">View my resume</a></p>
      </div>
    </t-market>
  </v-section>
  <v-section data-index="5">
    <t-market theme="is--dark">
      <div slot="content">
        <h2>Photography Is My Jam</h2>
        <p>I'm working on a series of photographs about the American Dream. It's taken over a decade to collect the images I want to portray the decaying ideal of the dream in America. <a class="cta" href="https://500px.com/stevebelovarich/galleries/american_dream_photo_essay" target="_blank">View candidates for this exhibition on 500px</a></p>
      </div>
      </t-market>
  </v-section>
  <v-section data-index="6">
    <t-market theme="is--light">
      <div slot="content">
        <h2>Teaching Is A Way Of Life</h2>
        <p>I love learning new things and helping others unlock thier potential. I taught part-time at General Assembly where I helped architect the curricula for a course about JavaScript. I'm currently looking for a part-time faculty position in higher education focusing either on web development or digital art. <a class="cta" href="/cv">View my curriculum vitae</a></p>
      </div>
    </t-market>
  </v-section>
  <v-section data-index="7">
    <t-market theme="is--dark">
      <div slot="content">
        <h2>I Write About Web Development</h2>
        <p>This year I'm focused on writing a technical book about front end web development. In the meanwhile, I'm posting regularly online. <a href="https://dev.to/steveblue" class="cta" target="_blank">Follow my latest posts about web development on dev.to</a></p>
      </div>
    </t-market>
  </v-section>
  <v-section data-index="8">
    <t-market theme="is--light">
      <div slot="content">
        <h2>I'm Steve</h2>
        <p>You can <a class="cta" href="https://twitter.com/iplayitofflegit" target="_blank">find me on Twitter</a></p>
      </div>
    </t-market>
  </v-section>
</v-stage>

