@import 'theme/card';
@import 'template/responsive';

:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  h2 {
    font-family: var(--f-headline);
    font-weight: 700;
    &.is--center {
      text-align: center;
    }
  }
  a:link, a:visited {
    color: var(--c-cta);
    text-decoration: none;
    &:after {
      content: '';
      display: inline-block;
      transform: translateX(7px) translateY(0px);
      width: 0;
      height: 0;
      border-left: 7px solid var(--c-cta);
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
    &:hover {
      color: rgba(251, 97, 7, 1.0);
      &:after {
        border-left: 7px solid rgba(251, 97, 7, 1.0);
      }
    }
    &.is--blue {
      color: var(--c-blue);
      &:after {
        border-left: 7px solid var(--c-blue);
      }
      &:hover {
        color: var(--c-green);
        &:after {
          border-left: 7px solid var(--c-green);
        }
      }
    }
  }
}

.i--center {
  @include i--center;
}

.is--dark {
  background: var(--c-dk-gray);
  color: var(--c-lt-gray);
}

.is--circle {
  border-radius: 50%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 80%;
  }
  &:nth-child(1) {
    grid-column: 3 / span 1;
    grid-row:  1 / span 1;
  }
  &:nth-child(2) {
    grid-column: 1 / span 1;
    grid-row:  1 / span 1;
  }
  &:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row:  3 / span 1;
  }
  &:nth-child(4) {
    grid-column: 4 / span 1;
    grid-row:  4 / span 1;
  }
}

.photo {
  img {
    width: 100%;
  }
}

.image {
  &.dev {
    max-width: 320px;
    max-height: 320px;
    margin-left: 15vw;
    svg, img {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translateX(-25%) translateY(-50%);
      max-width: 320px;
      max-height: 320px;
    }
  }
}

@include phone {
  :host {
    h2 {
      font-size: 2.0em;
    }
    p {
      font-size: 1.0em;
      // margin-left: 40px;
      // margin-right: 40px;
    }
    .icon {
      width: 120px;
      height: 120px;
    }
  }
}

@include portrait {
  :host {
    h2 {
      font-size: 3.2em;
    }
    p {
      font-size: 1.33em;
    }
    .icon {
      width: 144px;
      height: 144px;
    }
  }
}

@include landscape {
  :host {
    h2 {
      font-size: 3.2em;
    }
    p {
      font-size: 1.25em;
    }
    .icon {
      width: 180px;
      height: 180px;
    }
  }
}

@include desktop {
  :host {
    h2 {
      font-size: 4em;
    }
    p {
      font-size: 1.4em;
    }
    .icon {
      width: 180px;
      height: 180px;
    }
  }
}

@include monitor {
  :host {
    h2 {
      font-size: 4em;
    }
    p {
      font-size: 1.4em;
    }
    .icon {
      width: 180px;
      height: 180px;
    }
  }
}