@import 'theme/card';

:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  h2 {
    font-family: var(--f-headline);
    font-size: 2em;
    font-weight: 700;
  }
  p {
      font-size: 1.4em;
  }
}

.i--center {
  @include i--center;
}
