:host {
  display: block;
  overflow-x: hidden;
  & h2 {
    font-family: var(--f-headline);
    font-weight: 700;
    &.is--center {
      text-align: center;
    }
  }
  & h4 {
    display: block;
    box-sizing: border-box;
    height: 100%;
    font-family: var(--f-headline);
    font-size: 3.75em;
    line-height: 1.1em;
    font-weight: 700;
    padding-left: 0em;
    padding-top: 0em;
    padding-right: 0em;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  & a:link,
  & a:visited {
    color: var(--c-cta);
    text-decoration: none;
    &.is--cta {
      &:not(.is--inline) {
        display: block;
      }
      &:after {
        content: '';
        display: inline-block;
        transform: translateX(7px) translateY(1px);
        width: 0;
        height: 0;
        border-left: 7px solid var(--c-cta);
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
      }
      &:hover {
        color: rgba(251, 97, 7, 1);
        &:after {
          border-left: 7px solid rgba(251, 97, 7, 1);
        }
      }
    }
    &.is--dark {
      color: var(--c-dk-gray);
      background: transparent;
      &.is--cta {
        &:after {
          border-left: 7px solid var(--c-dk-gray);
        }
      }
      &:hover {
        color: var(--c-cta);
        &.is--cta {
          &:after {
            border-left: 7px solid var(--c-cta);
          }
        }
      }
    }
    &.is--blue {
      color: var(--c-blue);
      &.is--cta {
        &:after {
          border-left: 7px solid var(--c-blue);
        }
      }
      &:hover {
        color: var(--c-green);
        &.is--cta {
          &:after {
            border-left: 7px solid var(--c-green);
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      &.is--cta:not(.is--inline) {
        margin-top: 1em;
      }
    }

    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      &.is--cta:not(.is--inline) {
        margin-top: 1.33em;
      }
    }

    @media only screen and (min-width: 1024px) and (max-width: 1359px) {
      &.is--cta:not(.is--inline) {
        margin-top: 1.25em;
      }
    }

    @media only screen and (min-width: 1360px) and (max-width: 1879px) {
      &.is--cta:not(.is--inline) {
        margin-top: 1em;
      }
    }

    @media only screen and (min-width: 1880px) {
      &.is--cta:not(.is--inline) {
        margin-top: 1em;
      }
    }
    display: block;
  }
}

.i--center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.is--dark {
  background: var(--c-dk-gray);
  color: var(--c-lt-gray);
}

.is--circle {
  border-radius: 50%;
}

.is--book img {
  width: 50%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meta.is--bubbles {
  & .icon {
    width: 60px;
    height: 60px;
    opacity: 0.8;
    transition: all 0.5s ease-out;

    & img {
      width: 80%;
    }

    &.is--visible {
      opacity: 1;
    }

    &:nth-child(1) {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      transform: translateX(-60px);
    }
    &:nth-child(2) {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
      transform: translateX(-30px) translateY(20px);
    }
    &:nth-child(3) {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      transform: translateX(60px) translateY(-20px);
    }
    &:nth-child(4) {
      grid-column: 3 / span 1;
      grid-row: 3 / span 1;
      transform: translateX(-60px);
    }
    &:nth-child(5) {
      grid-column: 4 / span 1;
      grid-row: 4 / span 1;
      transform: translateX(20px) translateY(-60px);
    }
  }
}

.photo {
  & img {
    width: 100%;
  }
  &:nth-child(1) {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }
  &:nth-child(2) {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }
  &:nth-child(3) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  &:nth-child(4) {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }
  &:nth-child(5) {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }
  &:nth-child(6) {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  &:nth-child(7) {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }
  &:nth-child(8) {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
}

.image {
  &.dev {
    max-width: 320px;
    max-height: 320px;
    margin-left: 15vw;
    & svg,
    & img {
      position: relative;
      left: 50%;
      top: 50%;
      transform: translateX(-25%) translateY(-50%);
      max-width: 320px;
      max-height: 320px;
    }
  }
}

@media only screen and (max-width: 767px) {
  :host {
    & h2 {
      margin-block-start: 0.5em;
      margin-block-end: 0.5em;
      font-size: 2em;
    }
    & h4 {
      font-size: 2.75em;
    }
    & p {
      font-size: 1em;
    }
    & .icon {
      padding: 16px;
      &.is--visible {
        width: 72px;
        height: 72px;
      }
    }
    & .swimlane-logo {
      max-width: calc(100% - 40px);
    }
    & .image {
      &.dev {
        max-width: 200px;
        margin-left: 0%;
        transform: translateX(-2px) translateY(-60px);
        svg,
        img {
          max-width: 200px;
        }
      }
    }
    & .is--book img {
      width: 65%;
      transform: translateY(-40px);
    }
    & [theme='learning'] {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  :host {
    & h2 {
      font-size: 3.25em;
    }
    & p {
      font-size: 1.33em;
    }
    & .icon {
      padding: 12px;
      &.is--visible {
        width: 110px;
        height: 110px;
      }
      &:nth-child(5) {
        transform: translateX(20px) translateY(-120px);
      }
    }
    & .blurb {
      & a:link,
      & a:visited {
        margin-top: 0.5em;
      }
    }
    & .image {
      &.dev {
        margin-left: 0%;
        margin-right: 4%;
      }
    }
    & .is--book img {
      width: 60%;
      transform: translateY(0px);
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1359px) {
  :host {
    & h2 {
      font-size: 3.25em;
    }
    & p {
      font-size: 1.25em;
    }
    & .icon {
      padding: 20px;
      &.is--visible {
        width: 120px;
        height: 120px;
      }
    }
    & .blurb {
      & a:link,
      & a:visited {
        margin-top: 0.5em;
      }
    }
  }
}

@media only screen and (min-width: 1360px) and (max-width: 1879px) {
  :host {
    & h2 {
      font-size: 4em;
    }
    & p {
      font-size: 1.4em;
    }
    & .icon {
      padding: 20px;
      &.is--visible {
        width: 130px;
        height: 130px;
      }
    }
    & .blurb {
      h2 {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
      }
      & a:link,
      & a:visited {
        margin-top: 0.5em;
      }
    }
  }
}

@media only screen and (min-width: 1880px) {
  :host {
    & h2 {
      font-size: 4em;
    }
    & p {
      font-size: 1.4em;
    }
    & .icon {
      padding: 20px;
      &.is--visible {
        width: 140px;
        height: 140px;
      }
    }
    & .blurb {
      & h2 {
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
      }
      & a:link,
      & a:visited {
        margin-top: 0.5em;
      }
    }
  }
}
