@import 'template/responsive';

:host {
    display: block;
    width: 100%;
    .post__wrapper {
        width: 100%;
        height: 640px;
        &.is--light {
            color: var(--body-color);
            .post__background {
                background: var(--font-color);
            }
        }
        &.is--dark {
            color: var(--font-color);
            .post__background {
                background: var(--body-color);
            }
        }
    }
    .post__background {
        position: absolute;
        top: -40px;
        //left: 50%;
        width: 200vw;
        height: 200vw;
        transform: translateX(-25%);
        border-radius: 50%;
    }
    .post__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        h2 {
            font-size: 20px;
        }
        p {
            font-size: 16px;
        }
    }
}

@include phone {

}

@include portrait {

}

@include landscape {

}

@include desktop {

}

@include monitor {

}