@import 'template/responsive';

:host {
    display: block;
    width: 100%;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    .post__wrapper {
        width: 100%;
        height: 100%;
        &.is--light {
            color: var(--c-body);
            background: var(--c-font);
            .post__background {
                background: var(--c-font);
            }
        }
        &.is--dark {
            color: var(--c-font);
            background: var(--c-body);
            .post__background {
                background: var(--c-body);
            }
        }
    }
    .post__content {
        h2 {
            font-size: 20px;
            margin-block-start: 0px;
        }
        p {
            font-size: 16px;
        }
    }
}

@include phone {
 :host {
    // margin-top: 640px;
 }
}

@include portrait {

}

@include landscape {

}

@include desktop {

}

@include monitor {

}