$phone-width: 420px;
$portrait-width: 768px;
$landscape-width: 1024px;
$desktop-width: 1360px;
$monitor-width: 1880px;

@mixin phone {
    @media only screen and (max-width: #{$portrait-width - 1px}) {
      @content;
    }
}

@mixin phone-landscape {
  @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3)
    and (orientation : landscape) {
    @content;
  }
}


@mixin legacy-iphone-landscape {
  @media only screen
    and (min-device-width : 375px)
    and (max-device-width : 667px)
    and (-webkit-device-pixel-ratio : 2)
    and (orientation : landscape) {
      @content;
  }
}

@mixin phone-max-landscape {
  @media only screen
    and (-webkit-device-pixel-ratio: 3)
    and (max-width: 1023px)
    and (min-width: 768px)
    and (orientation: landscape) {
      @content;
  }
}


@mixin portrait {
    @media only screen and (min-width: #{$portrait-width}) and (max-width: #{$landscape-width - 1px}) {
      @content;
    }
}

@mixin landscape {
    @media only screen and (min-width: #{$landscape-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: #{$desktop-width}) and (max-width: #{$monitor-width - 1px}) {
      @content;
    }
}

@mixin monitor {
    @media only screen and (min-width: #{$monitor-width}) {
      @content;
    }
}