<v-nav></v-nav>
<v-stage>
    <v-section data-index="1">
        <t-post theme="is--light">
          <div class="resume__wrapper">
          <h1>Resume</h1>
          <section>
            <h2>Profile</h2>
            <p>Software engineer with strong experience in full stack web development. I want to help a team achieve greatness by architecting solutions and mentoring others.</p>
          </section>
          <section>
            <h2>Experience</h2>
            <div class="job">
              <div class="description">
                <header>
                  <div class="icon__header">
                    <div class="icon"><img src="" alt="" /></div>
                    <h3>Senior Front End Engineer at NBCUniversal</h3>
                  </div>
                  <p>Current</p>
                </header>
                <p>Develop application used internally to apply metadata to media distributed on streaming platforms. Mentor other engineers on development team, code and architect Angular app.</p>
              </div>
            </div>
            <div class="job">
              <div class="description">
                <header>
                  <div class="icon__header">
                    <div class="icon"><img src="" alt="" /></div>
                    <h3>Lead Angular Node Engineer at Nike</h3>
                  </div>
                  <p>2018-2019</p>
                </header>
                <p>Developed internal application used for product line planning. Led development team, actively coded, maintained CI servers and managed deployments in contract position.</p>
              </div>
            </div>
            <div class="job">
              <div class="description">
                <header>
                  <div class="icon__header">
                    <div class="icon"><img src="" alt="" /></div>
                    <h3>Manager UI (Principal Software Engineer) at Symantec</h3>
                  </div>
                  <p>2016-2018</p>
                </header>
                <p>Oversaw the architecture and development of Angular UI component libraries for consumer and enterprise. Rapidly prototyped new product ideas for Symantec web applications.</p>
              </div>
            </div>
            <div class="job">
              <div class="description">
                <header>
                  <div class="icon__header">
                    <div class="icon"><img src="" alt="" /></div>
                    <h3>Software Developer at Ubiquiti Networks</h3>
                  </div>
                  <p>2015-2016</p>
                </header>
                <p>Built web application with AngularJS for UI on ARM based video devices. Rapidly prototyped NodeJS backend to replace the existing Java implementation for the hardware controller.</p>
              </div>
            </div>
            <div class="job">
              <div class="description">
                <header>
                  <div class="icon__header">
                    <div class="icon"><img src="" alt="" /></div>
                    <h3>Front End Web Development Instructor at General Assembly</h3>
                  </div>
                  <p>2015-2016</p>
                </header>
                <p>Taught industry professionals how to code. Developed curriculum for the Front End Web Development part-time course focused on JavaScript, CSS, HTML and web fundamentals.</p>
              </div>
            </div>
            <div class="job">
              <div class="description">
                <header>
                  <div class="icon__header">
                    <div class="icon"><img src="" alt="" /></div>
                    <h3>Lead Web Application Engineer at Mediahound</h3>
                  </div>
                  <p>2014-2015</p>
                </header>
                <p>Managed front end engineering team that built UI for social network with AngularJS. Teamed up with leads to architect APIs and sustainable development practices for the start up.</p>
              </div>
            </div>
            <div class="job">
              <div class="description">
                <header>
                  <div class="icon__header">
                    <div class="icon"><img src="" alt="" /></div>
                    <h3>Senior Front End Developer at Team One</h3>
                  </div>
                  <p>2012-2014</p>
                </header>
                <p>Developed landing pages for Lexus and 2K Games. Worked closely with designers to proto- type UI for client pitches. Executed production of interactive experiences on lexus.com.</p>
              </div>
            </div>
            <div class="job">
              <div class="description">
                <header>
                  <div class="icon__header">
                    <div class="icon"><img src="" alt="" /></div>
                    <h3>Freelance Developer and Digital Artist</h3>
                  </div>
                  <p>2004-2012</p>
                </header>
                <p>Provided end to end creative and engineering solutions for clients. Developed and designed web sites, installations and prototypes with anything that got the job done including Adobe CS, Max/MSP, Final Cut Pro, Arduino, Raspberry Pi, JavaScript, HTML, CSS, Java, C++, cus- tom electronics, sensors, motors, and video devices.</p>
              </div>
            </div>
            <div class="job">
              <div class="description">
                <header>
                  <div class="icon__header">
                    <div class="icon"><img src="" alt="" /></div>
                    <h3>MFA Computer Art at Syracuse University</h3>
                  </div>
                  <p>2007-2010</p>
                </header>
              </div>
            </div>
            <div class="job">
              <div class="description">
                <header>
                  <div class="icon__header">
                    <div class="icon"><img src="" alt="" /></div>
                    <h3>BS Electronic Arts at Rensselaer Polytechnic Institute</h3>
                  </div>
                  <p>2000-2004</p>
                </header>
              </div>
            </div>
          </section>
          </div>
        </t-post>
      </v-section>
  </v-stage>
