@import 'template/responsive';
@import 'component/link';

:host {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    a:link, a:visited {
        @include link();
    }
    h4 {
        display: block;
        box-sizing: border-box;
        height: 100%;
        font-family: var(--f-headline);
        font-size: 3.75em;
        line-height: 1.1em;
        font-weight: 700;
        padding-left: 0em;
        padding-top: 0em;
        padding-right: 0em;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    footer {
        p {
            font-size: 1.25em;
        }
    }
    .resume__wrapper {
        overflow: hidden;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        .job {
            header {
                display: flex;
                justify-content: space-between;
                .icon__header {
                    display: flex;
                }
            }
            &:last-child {
                margin-bottom: 120px;
            }
        }
        h1 {
            font-family: var(--f-headline);
            font-size: 4em;
            font-weight: 900;
            margin-block-start: 0em;
        }
        h3 {
            margin-block-end: 0px;
        }
    }


@include phone {
    h4 {
        font-size: 2.75em;
    }
    .resume__wrapper {
        max-width: calc(100vw - 40px);
        h1 {
            font-size: 3em;
        }
        header {
            p {
                text-align: right;
                transform: translateY(4px);
            }
        }
    }
}

@include portrait {
    .resume__wrapper {
        max-width: 640px;
        h1 {
            font-size: 5em;
        }
    }
}

@include landscape {
    .resume__wrapper {
        max-width: 720px;
        h1 {
            font-size: 5em;
        }
    }
}

@include desktop {
    .resume__wrapper {
        max-width: 840px;
        h1 {
            font-size: 6em;
        }
    }
}

@include monitor {
    .resume__wrapper {
        max-width: 840px;
        h1 {
            font-size: 6em;
        }
    }
}

}