@import 'template/responsive';

$transition-duration: 0.7s;

@keyframes containerIn {
    0%   { width: 44px; height: 44px; border-radius: 0% 0% 0% 0%; background: rgba(0,0,0,0.0); }
    50%  { width: 100vw; height: 100vh; border-radius: 50% 0% 50% 50%; background: rgba(0,0,0,1.0); }
    100% { width: 100vw; height: 100vh; border-radius: 0% 0% 0% 0%; background: rgba(0,0,0,1.0); }
}

@keyframes containerOut {
    0% { width: 100vw; height: 100vh; border-radius: 0% 0% 0% 0%; background: rgba(0,0,0,1.0);  }
    50%  { width: 100vw; height: 100vh; border-radius: 50% 0% 50% 50%; background: rgba(0,0,0,1.0); }
    100%   { width: 44px; height: 44px; border-radius: 0% 0% 0% 0%; background: rgba(0,0,0,0.0); }
}

@keyframes linkIn {
    0%   { font-size: 1.0em; line-height: 1.0em; color: rgba(0,0,0,0.0);transform: translateY(0%) scaleY(0.2); }
    15%  { font-size: 1.0em; line-height: 1.0em; color: rgba(0,0,0,0.0); transform: translateY(0%) scaleY(0.2); }
    100% { font-size: 1.5em; line-height: 1.5em; color: rgba(210, 210, 210, 1); transform: translateY(0%) scaleY(1.0); }
}

@keyframes linkOut {
    0%   { font-size: 1.5em; line-height: 1.5em; color: rgba(210, 210, 210, 1); transform: translateY(0%) scaleY(1.0); }
    1%  { font-size: 0.0em; line-height: 1.0em; color: rgba(0,0,0,0.0); transform: translateY(0%) scaleY(1.0); }
    15%  { font-size: 0.0em; line-height: 1.0em; color: rgba(0,0,0,0.0); transform: translateY(0%) scaleY(0.2); }
    100% { font-size: 1.0em; line-height: 1.0em; color: rgba(0,0,0,0.0); transform: translateY(0%) scaleY(0.2); }
}


:host {
    position: fixed;
    display: block;
    top: 0px;
    right: 0px;
    width: 44px;
    height: 44px;
    padding: 12px;
    z-index: 1000;
    .nav__container {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 44px;
        height: 44px;
        border-radius: 0% 0% 0% 0%;
        background: rgba(0,0,0,0.0);
        margin: 12px;
        .nav__wrapper {
            position: absolute;
            right: 0px;
            top: 0px;
            width: 44px;
            height: 44px;
            .nav__button {
                width: 44px;
                height: 44px;
                box-sizing: border-box;
                cursor: pointer;
            }
            nav {
                position: absolute;
                display: block;
                top: 0%;
                right: 0%;
                width: 44px;
                height: 44px;
                transform: translateX(0%) translateY(0%);
                pointer-events: none;
                text-align: center;
                ul {
                    list-style-type: none;
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    padding-inline-start: 0px;
                    li {
                        opacity: 1;
                        transform: translateY(0%) scaleY(0.3);
                        transition: $transition-duration, opacity;
                        margin-bottom: 0px;
                        &:nth-child(n + 4) {
                            opacity: 0;
                        }
                        &:before {
                            position: absolute;
                            content: '';
                            top: 0px;
                            left: 0px;
                            width: 100%;
                            height: 12px;
                            background: var(--font-color);
                            transition: 0.2s;
                        }
                        span {
                            opacity: 0;
                        }
                    }
                }
                a:link, a:visited {
                    text-transform: uppercase;
                    text-decoration: none;
                }
                a {
                    display: inline-block;
                    color: rgba(0,0,0,0.0);
                    font-size: 1.0em;
                    line-height: 1.0em;
                }
                span {
                    display: none;
                }
                a + span + a {
                    display: none;
                }
            }
        }
        &.is--init {
            animation: containerOut $transition-duration - 0.3s;
            animation-fill-mode: both;
        }
        &.is--open {
            background: rgba(0,0,0,1.0);
            animation: containerIn $transition-duration;
            animation-fill-mode: both;
            margin: 0px;
            .nav__wrapper {
                width: 100vw;
                height: 100vh;
                opacity: 1;
                pointer-events: initial;
                transform: translateX(0px);
                margin: 0px;
                .nav__button {
                    position: fixed;
                    top: 0px;
                    right: 0px;
                    margin: 12px;
                    &:before {
                        position: absolute;
                        content: '';
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        height: 2px;
                        background: var(--font-color);
                        transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
                        transition: $transition-duration;
                    }
                    &:after {
                        position: absolute;
                        content: '';
                        top: 50%;
                        left: 50%;
                        width: 100%;
                        height: 2px;
                        background: var(--font-color);
                        transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
                        transition: $transition-duration;
                    }
                }
                nav {
                    top: 50%;
                    right: 50%;
                    width: 320px;
                    height: auto;
                    transform: translateX(50%) translateY(-50%);
                    pointer-events: initial;
                    border-top: 3px solid var(--font-color);
                    border-bottom: 3px solid var(--font-color);
                    ul {
                        li {
                            background: transparent;
                            animation: linkIn $transition-duration;
                            animation-fill-mode: both;
                            transition: $transition-duration, opacity;
                            margin-bottom: 20px;
                            &:nth-child(n + 4) {
                                opacity: 1;
                            }
                            &:before {
                                height: 0px;
                                opacity: 0;
                            }
                            &:first-child {
                                margin-top: 20px;
                            }
                            span {
                                display: inline-block;
                                opacity: 1;
                            }
                            a {
                                color: rgba(255,255,255,1.0);
                            }
                            a + span + a {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
            &.is--init {
                li {
                    animation: linkOut 0.5s;
                    animation-fill-mode: both;
                }
            }
        }
    }

    @include phone {

    }

    @include portrait {

    }

    @include landscape {

    }

    @include desktop {

    }

    @include monitor {

    }
}

