
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700;900&family=Lato:wght@300;400;700&display=swap');
@import 'theme/card';
@import 'template/responsive';


:root {
  --c-dk-gray: rgba(20, 20, 20, 1.0);
  --c-lt-gray: rgba(220, 220, 220, 1.0);
  --c-body: rgba(20, 20, 20, 1.0);
  --c-font: rgba(220, 220, 220, 1.0);
  --c-gray-500: rgba(125, 125, 125, 1.0);
  --c-cta: rgba(255, 45, 85, 1.0);
  --c-orange: rgba(251, 97, 7, 1.0);
  --c-white: rgba(240, 240, 240, 1.0);
  --c-black: rgba(10, 10, 10, 1.0);
  --c-red: rgba(255, 45, 85, 1.0);
  --c-green: rgb(138, 201, 38);
  --c-blue: rgb(65, 234, 212);
  --c-space-gray: #A5ADB0;
  --f-headline: 'Exo 2', sans-serif;
  --f-body: 'Lato', sans-serif;

  // grid
  --gridWidth: 100vw;
  --gutter: 20px;
  --cols: 4;
  --ratioX: 16;
  --ratioY: 9;
  --gutters: calc(var(--cols) - 1);
  --factor: calc(var(--ratioY) / var(--ratioX));
  --rh: calc(( (var(--gridWidth) - (var(--gutters) * var(--gutter)))
      / var(--cols)) * var(--factor));

  @include phone {
    --cols: 1;
  }

  @include portrait {
    --cols: 2;
  }

  @include landscape {
    --cols: 2;
  }

  @include desktop {
    --cols: 4;
  }

  @include monitor {
    --cols: 6;
  }

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background: var(--c-lt-gray);
  color: var(--c-dk-gray);
  opacity: 0;
  transition: opacity 0.1s linear;
  transition-delay: 0.1s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  &.is--init {
    opacity: 1;
  }
  &.is--light {
    background: var(--c-lt-gray);
    color: var(--c-dk-gray);
  }
}

a:link, a:visited {
  color: var(--c-cta);
}

h2 {
  margin-block-start: 0px;
}