@import 'theme/card';

:root {
  --c-body: rgba(20, 20, 20, 1.0);
  --c-font: rgba(220, 220, 220, 1.0);
  --c-gray-500: rgba(125, 125, 125, 1.0);
  --c-cta: #FF2D55;
  --c-white: rgba(240, 240, 240, 1.0);
  --c-black: rgba(10, 10, 10, 1.0);
  --c-space-gray: #A5ADB0;
  --f-headline: 'Exo 2', sans-serif;
  --f-body: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background: var(--c-body);
  color: var(--c-font);
  max-height: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease-out;
  transition-delay: 0.1s;
  &.is--init {
    opacity: 1;
  }
  &.is--light {
    background: var(--c-font);
    color: var(--c-body);
  }
}

a:link, a:visited {
  color: var(--c-cta);
}

h2 {
  margin-block-start: 0px;
}