@import '@fontsource/exo-2/300.css';
@import '@fontsource/exo-2/500.css';
@import '@fontsource/exo-2/700.css';
@import '@fontsource/exo-2/900.css';
@import '@fontsource/lato/300.css';
@import '@fontsource/lato/400.css';
@import '@fontsource/lato/700.css';

@import 'theme/card';

:root {
  --c-dk-gray: rgba(20, 20, 20, 1);
  --c-lt-gray: rgba(220, 220, 220, 1);
  --c-body: rgba(20, 20, 20, 1);
  --c-font: rgba(220, 220, 220, 1);
  --c-gray-500: rgba(125, 125, 125, 1);
  --c-cta: rgba(255, 45, 85, 1);
  --c-orange: rgba(251, 97, 7, 1);
  --c-white: rgba(240, 240, 240, 1);
  --c-black: rgba(10, 10, 10, 1);
  --c-red: rgba(255, 45, 85, 1);
  --c-green: rgb(138, 201, 38);
  --c-blue: rgb(65, 234, 212);
  --c-space-gray: #a5adb0;
  --f-headline: 'Exo 2', sans-serif;
  --f-body: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background: var(--c-lt-gray);
  color: var(--c-dk-gray);
  opacity: 0;
  transition: opacity 0.1s linear;
  transition-delay: 0.1s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  &.is--init {
    opacity: 1;
  }
  &.is--light {
    background: var(--c-lt-gray);
    color: var(--c-dk-gray);
  }
}

a:link,
a:visited {
  color: var(--c-cta);
}

h2 {
  margin-block-start: 0px;
}
