<v-nav></v-nav>
<v-stage>
    <v-section data-index="0">
        <t-post theme="is--light">
            <header class="blog__header">
                <div class="header__background"></div>
                <div class="header__content">
                    <h1>Blog</h1>
                    <div class="quote">
                        <blockquote>"My main focus writing online is to provide career advice to web engineers. I provide original, fresh content. I'm fairly cynical, poking fun at things web developers take for granted. I provoke a response by talking about the elephant in the room. I have an independent voice that clashes with mainstream opinion. I'm not poking the bear for the sake of it. I genuinely want to help others."</blockquote>
                        <p>- Steve</p>
                    </div>
                </div>
            </header>
            <div class="post__wrapper">

            </div>
        </t-post>
    </v-section>
</v-stage>