<v-nav></v-nav>
<v-stage>
    <v-section data-index="1" class="header__section">
        <t-post theme="is--light">
            <header class="blog__header">
                <div class="header__background"></div>
                <div class="header__content">
                    <h1 class="blog__title">Dev Blog</h1>
                </div>
            </header>
            <div class="post__wrapper">

            </div>
        </t-post>
    </v-section>
</v-stage>
<v-section>
    <t-market theme="is--red has--dipped-top">
      <footer class="is--center" slot="content">
        <h4>👋 I'm Steve</h4>
        <p>I provide career advice to web engineers and write technical articles about stuff that interests me on <a href="https://dev.to/steveblue" class="is--cta is--blue is--inline" target="_blank">dev.to</a></p>
      </footer>
    </t-market>
</v-section>