<v-nav></v-nav>
<v-stage>
    <v-section data-index="0">
        <t-post theme="is--light">
            <div class="post__wrapper">
                <h1>Blog</h1>
                <h2>I write about web development on dev.to. I poke fun at things I feel web developers take for granted. I'm fairly cynical. There's already enough tutorials out there, so I only write about technical topics when no other suitable reference exists. I hope to inspire and lead by example. </h2>
            </div>
        </t-post>
    </v-section>
</v-stage>