<v-nav></v-nav>
<v-stage>
  <v-section data-index="1">
    <t-post theme="is--light">
        <header class="blog__header">
          <div class="header__background"></div>
          <div class="header__content">
              <h1 class="blog__title">@Rt</h1>
          </div>
        </header>
        <div class="gallery__wrapper">
          <div class="grid">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
          </div>
        </div>
    </t-post>
  </v-section>
 </v-stage>
 <v-section>
  <t-market theme="is--red has--dipped-top">
    <footer class="is--center" slot="content">
      <h4>👋 I'm Steve</h4>
      <p>I make art with electronics.</p>
    </footer>
  </t-market>
</v-section>