@import 'template/responsive';

@mixin link() {
    color: var(--c-cta);
    text-decoration: none;
    &.is--cta {
      &:not(.is--inline) {
        display: block;
      }
      &:after {
          content: '';
          display: inline-block;
          transform: translateX(7px) translateY(1px);
          width: 0;
          height: 0;
          border-left: 7px solid var(--c-cta);
          border-top: 7px solid transparent;
          border-bottom: 7px solid transparent;
        }
        &:hover {
          color: rgba(251, 97, 7, 1.0);
          &:after {
            border-left: 7px solid rgba(251, 97, 7, 1.0);
          }
        }
    }
    &.is--dark {
      color: var(--c-dk-gray);
      background: transparent;
      &.is--cta {
        &:after {
            border-left: 7px solid var(--c-dk-gray);
        }
      }
      &:hover {
        color: var(--c-cta);
        &.is--cta {
            &:after {
            border-left: 7px solid var(--c-cta);
            }
        }
      }
    }
    &.is--blue {
      color: var(--c-blue);
      &.is--cta {
        &:after {
            border-left: 7px solid var(--c-blue);
        }
      }
      &:hover {
        color: var(--c-green);
        &.is--cta {
            &:after {
            border-left: 7px solid var(--c-green);
            }
        }
      }
    }
    @include phone {
      &.is--cta:not(.is--inline) {
        margin-top: 1.0em;
      }
    }

    @include portrait {
      &.is--cta:not(.is--inline) {
        margin-top: 1.33em;
      }
    }

    @include landscape {
      &.is--cta:not(.is--inline) {
        margin-top: 1.25em;
      }
    }

    @include desktop {
      &.is--cta:not(.is--inline) {
        margin-top: 1.0em;
      }
    }

    @include monitor {
      &.is--cta:not(.is--inline) {
        margin-top: 1.0em;
      }
    }
}

