<v-nav></v-nav>

<v-stage>
    <v-section data-index="1">
      <t-post theme="is--light">
        <div class="resume__wrapper">
        <h1>Steve Belovarich's Curriculum Vitae</h1>
        <section>
          <h2>Profile</h2>
          <p>Digital artist and software engineer with strong experience in web design and full stack web development. I want to help others achieve their dreams of being a creative professional.</p>
        </section>
        <section>
          <h2>Experience</h2>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Senior Front End Engineer at NBCUniversal</h3>
                <p>Current</p>
              </header>
              <p>Develop application used internally to apply metadata to media distributed on streaming platforms. Mentor other engineers on development team, code and architect Angular app.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Lead Angular Node Engineer at Nike</h3>
                <p>2018-2019</p>
              </header>
              <p>Developed internal application used for product line planning. Led development team, actively coded, maintained CI servers and managed deployments in contract position.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Manager UI (Principal Software Engineer) at Symantec</h3>
                <p>2016-2018</p>
              </header>
              <p>Oversaw the architecture and development of Angular UI component libraries for consumer and enterprise. Rapidly prototyped new product ideas for Symantec web applications.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Software Developer at Ubiquiti Networks</h3>
                <p>2015-2016</p>
              </header>
              <p>Built web application with AngularJS for UI on ARM based video devices. Rapidly prototyped NodeJS backend to replace the existing Java implementation for the hardware controller.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Front End Web Development Instructor at General Assembly</h3>
                <p>2015-2016</p>
              </header>
              <p>Taught industry professionals how to code. Developed curriculum for the Front End Web Development part-time course focused on JavaScript, CSS, HTML and web fundamentals.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Lead Web Application Engineer at Mediahound</h3>
                <p>2014-2015</p>
              </header>
              <p>Managed front end engineering team that built UI for social network with AngularJS. Teamed up with leads to architect APIs and sustainable development practices for the start up.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Senior Front End Developer at Team One</h3>
                <p>2012-2014</p>
              </header>
              <p>Developed landing pages for Lexus and 2K Games. Worked closely with designers to proto- type UI for client pitches. Executed production of interactive experiences on lexus.com.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Freelance Developer and Digital Artist</h3>
                <p>2004-2012</p>
              </header>
              <p>Provided end to end creative and engineering solutions for clients. Developed and designed web sites, installations and prototypes with anything that got the job done including Adobe CS, Max/MSP, Final Cut Pro, Arduino, Raspberry Pi, JavaScript, HTML, CSS, Java, C++, cus- tom electronics, sensors, motors, and video devices.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>MFA Computer Art at Syracuse University</h3>
                <p>2007-2010</p>
              </header>
              <p>Taught computer science and art theory / practice to undergraduate and graduate students. Built several interactive installations in the course of my studies.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Adjunct Professor at Syracuse University</h3>
                <p>2008-2009</p>
              </header>
              <p>First graduate student to design curriculum for the Transmedia department. Taught class about Situationism / Culture Jamming. Facilitated discussions based on selected readings and screenings concerning the trickster in mythology, situationism, media interventions, hacktivism, pirate radio, civil disobedience. Led critiques of student works.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Graduate Teaching Assistant at Syracuse University</h3>
                <p>2008-2010</p>
              </header>
              <p>TA for interdisciplinary classes focused on integrating electronics and programming into the skill sets of artists and designers. Constructed in-class workshops, designed portions of computer programming curriculum, tutored students in Arduino microcontroller, C programming language, and Max/MSP.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Community Art Facilitator at Syracuse University</h3>
                <p>2008</p>
              </header>
              <p>Conducted workshops, lessons, and historical presentations in an inner city high school photography class at Nottingham H.S. in Syracuse, NY.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Computer Art Lab Manager at Syracuse University</h3>
                <p>2007-2010</p>
              </header>
              <p>Hired and scheduled work study lab monitors. Administered and maintained lab computers.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Guest Lecturer at Rensselaer Polytechnic Institute</h3>
                <p>2007</p>
              </header>
              <p>Conducted Lecture and Lab: Becoming a VJ + Programming with Quartz Composer.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Freelance Developer and Digital Artist</h3>
                <p>2004-2012</p>
              </header>
              <p>Provided end-to-end creative and engineering solutions for clients. Developed and designed web sites, installations and prototypes with tools including Adobe CS, Max/MSP, Final Cut Pro, Arduino, Raspberry Pi, JavaScript, HTML, CSS, Java, C++, custom electronics, sensors, motors, and video devices.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>Artist in Resident at Experimental Television Center</h3>
                <p>2004</p>
              </header>
              <p>Created motion tracking application for use in several projects during residency.</p>
            </div>
          </div>
          <div class="job">
            <div class="icon"><img src="" alt="" /></div>
            <div class="description">
              <header>
                <h3>BS Electronic Arts at Rensselaer Polytechnic Institute</h3>
                <p>2000-2004</p>
              </header>
              <p>Studied computer science and art / design in an interdisciplinary degree.</p>
            </div>
          </div>
        </section>
        <section>
          <h2>Speaking Engagements</h2>
          <div class="job">
            <div class="description">
              <header>
                <h3>“Growing Up With a Mom in Tech” ACT-W.</h3>
                <p>2019</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>“Angular Elements” Angular Portland Meetup.</h3>
                <p>2019</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>“It’s Not About Web Components vs. React” Front End PDX Meetup.</h3>
                <p>2019</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>“It’s Not About Web Components vs. React” Front End Small Talk.</h3>
                <p>2019</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>“Writing A Custom Angular Build” ng-conf.</h3>
                <p>2018</p>
              </header>
            </div>
          </div>
        </section>
        <section>
          <h2>Exhibition</h2>
          <div class="job">
            <div class="description">
              <header>
                <h3>Kinetic Light. Gallery 381 Solo Exhibition of Video & Photography. Los Angeles, CA.</h3>
                <p>2013</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>MFA Exhibition. “American Dream Machine” Syracuse University.</h3>
                <p>2010</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>SPARK Video SPARK Gallery “No Strings Attached” Syracuse, NY.</h3>
                <p>2009</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>Techno Culture Dowd Gallery “No Strings Attached” Cortland, NY.</h3>
                <p>2009</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>Techno Culture Redhouse Gallery “No Strings Attached” Syracuse, NY.</h3>
                <p>2009</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>Wired Space CASE Warehouse “Audiobombing the Erie” Syracuse, NY.</h3>
                <p>2009</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>Electric Art 4 XL Projects “NSA, Audiobombs, & .highway” Syracuse, NY.</h3>
                <p>2009</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>Wearable Technologies The Warehouse “Meet The Tourist Live” Syracuse University.</h3>
                <p>2008</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>Celebration of the Arts “The Tourist” New Paltz, NY.</h3>
                <p>2008</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>Electric Art 3 Tosh Gallery “Information Hunter/Gatherer” Syracuse, NY.</h3>
                <p>2008</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>SPARK Meet and Greet SPARK Gallery “Attention Span” Syracuse, NY.</h3>
                <p>2007</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>FOCUS Rensselaer Polytechnic Institute “Eye Control” Troy, NY.</h3>
                <p>2004</p>
              </header>
            </div>
          </div>
        </section>
        <section>
          <h2>Bibliography</h2>
          <div class="job">
            <div class="description">
              <header>
                <h3>Kinetic Light. Exhibition Companion Book.</h3>
                <p>2013</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>Web Designer Magazine. Featured Designer. Issue 199.</h3>
                <p>2012</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>Home for Living. Video. Aired on The Looseleaf Report. LA & NY.</h3>
                <p>2/16/05</p>
              </header>
            </div>
          </div>
          <div class="job">
            <div class="description">
              <header>
                <h3>Aaron, Kenneth. “Creativity gets its close-up“ Albany Times Union.</h3>
                <p>5/24/04</p>
              </header>
            </div>
          </div>
        </section>
        </div>
      </t-post>
    </v-section>
  </v-stage>
